.mat-card {
    margin-bottom: 15px;
    background-color: hsl(0, 0%, 100%);
}

.mat-form-field {
    display: flex;
    flex-direction: row;
    overflow:hidden;
}

.filter-attributes {
    border-radius: 5px;
    cursor: pointer;
}

.filter-attributes:hover {
    background-color: hsl(180, 29%, 50%);
    color: whitesmoke;
}

.filter-box {
    background-color: white;
}

.job:hover {
    border-left: hsl(180, 29%, 50%) 5px solid;
}

.new {
    background-color: hsl(180, 29%, 50%);
    color: whitesmoke;
    font-size: 15px;
}

.featured {
    background-color: hsl(180, 14%, 20%);
    color: whitesmoke;
    font-size: 15px;
}

.company {
    font-weight: 500;
}

.position {
    cursor: pointer;
    color: hsl(180, 14%, 20%);
    font-weight: 700;
}

.position:hover {
    color:hsl(180, 29%, 50%);
}

.extra-info {
    color: hsl(180, 8%, 52%)
}